#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.bold {
  font-weight: 900;
  text-decoration: underline;
}

.red {
  color: #FF0000;
}

.big {
  width: 50px;
  height: 50px;
}

.blue {
  background-color: blue;
}

.bar {
  height: 50px;
  background-color: #d3d3d3;
}